@{
	Layout = null;
}
<p>Hello</p>
<p><a href="/razorerror">Trigger razor error</a></p>
<p><a href="/compilederror">Trigger compiled error</a></p>
<p><a href="/thisisnotthere">Trigger Umbraco 404</a></p>
<p><a href="/Media/thisisnotthere.jpg">Trigger Media 404</a></p>